*{
    box-sizing: border-box;
}
.login{

    background: #DD172B;
    width: 100%;
    height: 50vh;
    text-align: center;
    box-sizing: border-box;
}
.log{
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #c9161c;
    width: 35%;
    box-sizing: border-box;
    height: 35vh;
    display: inline-block;
    text-align: center;
    margin: auto;
    margin-top: 62px;
}
.log input,button{

    display: inline-block;
    padding: 10px 7px;
    margin: 6px;
    width: 75%;
}
.log input{
    border-radius: 7px;
    outline: none;
    border: none;
    font-size: 15px;
}

button{
    background: darkred;
    outline: none;
    cursor: pointer;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}
